/*Seletor universal (vai aplicar a regra em tds os elementos*/
* {
  margin: 0;
  padding: 0;
  /*BOX-SIZING: Ele mantem a medida Width e tmb vai adc outros preenchimentos internos que colocar */
  box-sizing: border-box;
}

/* Modo Dark, modo escuro */
:root {
  /*Variaveis*/
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

/* Modo Light, modo claro*/
.light {
  /*Variaveis*/
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.01);
  --switch-bg-url: url(./assets/Sun.svg);
}

/* Imagem de fundo */
body {
  /* 
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position:top center;
  background-size: cover;
*/

  /*background: image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

/* * Seletor universal (vai aplicar a fonte em tds os elementos) */
body * {
  font-family: "Inter", serif;
  color: var(--text-color);
}

/* Caixa principal*/
#container {
  width: 100%;
  max-width: 588px;
  /*height: 712px;*/
  margin: 56px auto 0px;
  padding: 0 24px;
  /*
   padding-top: 56px; */
  margin-top: 56px;
}

/* Pai do #profile img */
#profile {
  text-align: center;
  padding: 24px;
}

/* Avatar */
#profile img {
  display: block;
  width: 112px;
  margin: auto;
  border-radius: 50%;
}

/* O @malluzets */
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  padding-bottom: 12px;
}

/* Botão light vs dark */
#switch {
  /* Ele sera relativo ao absoluto no elemento switch */
  position: relative;
  width: 64px;

  margin: 4px auto;
}

/* Bolinha do botão */
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  /*background-image: url(./assets/MoonStars.svg)*/

  /*position -> faz uma sobrepocição de camadas absoluto */
  position: absolute;
  top: 50%;
  left: 0;

  /*z-index -> muda a posição do andar*/
  z-index: 1;

  /*movimentar o elemento para cima Y*/
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {

  /* forwards -> manter as propriedades finais do slid */
  animation: slide-in 0.4s forwards;
}

/* Caixinha de dentro do botão */
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  /*Para funcionar em outros navegadores web*/
  -webkit-backdrop-filter: blur(4px);
  /*borda arredondada*/
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

/* Textos do Link */
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector (aplica quado passa o mouse por cima)*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* Rodapé */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries - Regra para mudar o background de mobile para desktop*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation do botão */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

/* fim da animação */
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
